/* Importando a fonte 'Inter' do Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Estilos globais do corpo do documento */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
}


/* Estilos para a página principal */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #13a959;
    background-image: url(../../assets/img/1.png);
    background-size: 100vw;
    z-index: -1;
}


/*Estilos para o botao de cadastro e esqueci a senha */


/* Estilos para o formulário de login */

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 50px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    scale: 80%;
}

.logo {
    height: 190px;
    left: 50px;
    transition: all 0.5s;
    display: flex;
    margin: auto;
    scale: 4.0;
}


/* Efeito de hover para a logo */


/* Estilos para a área de login */

.areaLogin img {
    width: 420px;
}


/* Estilos para o título do formulário de login */

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}


/* Estilos para o texto do formulário de login */

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}


/* Estilos para campos de entrada de texto no formulário de login */

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


/* Estilos para campos de entrada de texto no formulário de login quando em foco */

.formLogin input:focus {
    border: 1px solid #13a959;
}


/* Estilos para rótulos no formulário de login */

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}


/* Estilos para links no formulário de login */

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}


/* Estilos para links no formulário de login quando em foco */

.formLogin a:hover {
    color: #13a959;
}


/* Estilos para o botão no formulário de login */

.btn {
    background-color: #13a959;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
}


/* Estilos para o botão no formulário de login quando em foco */

.btn:hover {
    transform: scale(1.05);
    background-color: #13a959;
}


/* Estilos do rodapé */

.rodape {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 0px;
}


/* Estilos para o conteúdo do rodapé */

.mano {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}


/* Estilos para parágrafos no rodapé */

.rodape p {
    margin-bottom: 10px;
}


/* Estilos para lista no rodapé */

.rodape ul {
    list-style: none;
    padding: 0;
}


/* Estilos para itens de lista no rodapé */

.rodape ul li {
    display: inline-block;
    margin-right: 20px;
}


/* Estilos para links no rodapé */

.rodape ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.rodape ul li a:hover {
    color: #ff9900;
}

.cad1 {
    background-color: #13a959;
    color: #ff0000;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
}

.cad1:hover {
    transform: scale(1.05);
    background-color: #13a959;
}

.voltar:hover {
    transform: scale(1.06s);
    color: #13a959;
    background: #0000;
}

.voltar {
    display: flex;
}